@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color:#A7A1AE;

    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #010105;
  opacity: 0.9;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #010105 60px ), repeating-linear-gradient( #04123055, #041230 );
 background-size: contain;
}