
.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;

}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;

	  width: 100%;
	  border-collapse: collapse;
  overflow-wrap: break-word;
  padding: 0 0 8em 0;

}


.container td{
  margin: 4px;
}
.container tr{
  margin: 4px;
}
.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}


.container tr:nth-child(odd) {
	  background-color: #0440227d;
}


.container tr:nth-child(even) {
	  background-color: #0b191cdf;
}

.container th {
	background-color: #188090; 
	background-image: linear-gradient(to bottom, #0a8894, #076752); 
}

.container td:first-child { color: #f1cbd0; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #d5c52f;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 1.2s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
	.container td:nth-child(5),
	.container th:nth-child(5) { display: none; }

.container td:nth-child(4),

.container th:nth-child(4) { display: none; }
}


@media  screen and (max-width: 767px) {
	.container{
	
	
		width: 90%;
	
	}
}